<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbGhApxaK2OMn4uvcHt7_sn89ubo8JtK8</string>
	<key>GCM_SENDER_ID</key>
	<string>900436727408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.rmari.ios</string>
	<key>PROJECT_ID</key>
	<string>shop-mile-76529</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-mile-76529.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900436727408:ios:58742fc06af5e8953ac6b5</string>
</dict>
</plist>